[package]
name = "chip-8"
version = "0.1.0"
edition = "2021"


[dependencies]
sdl2 = "0.38.0"
rand = "0.9.0-beta.0"
clap = { version = "4.5.21", features = ["derive"] }
spin_sleep = "1.1.1"

[target.'cfg(target_os="macos")'.dependencies.sdl2]
version = "0.38.0"

[profile.release]
lto = true
